.menuContainer {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    /* top: -100px; */
    /* margin-top: -60px; */
    position: absolute;
    width: 250px;
    padding: 10px;
    /* padding: 10px 0px 10px 30px; */
    right: -45px;
}

.menuText {
    font-size: 28px;
    line-height: 90px;
    cursor: pointer;
}

.menuText:hover {
    font-size: 28px;
    line-height: 90px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
}

.imgIcon {  
    height: 50px;
    width: 50px; 
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
}