.moreIcon { 
    background-color: white;
    height: 60px;
    width: 60px; 
    vertical-align: middle;
    text-align: center;
    display: table-cell; 
    align-content: center;
    line-height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
}