.App {
  text-align: center; 
}

.AppBg {   
  background: fixed;  
  background-position: center;
  /* background-image: url('/public/rain.jpg');     */
 
}

.BgContainer {
  padding: 10px 55px;
  
}