.weatherContainer { 
    background: rgba(255, 255, 255, 0.5);
    border-radius:50px;
    display: flex;
    margin-top: 45px;
    height: 650px
}

.twoCol {
    flex-direction: row;
}

.weatherIcon {
    height: 45vh;
    margin: 50px;
    float: left;
}

.weatherDetails {
    height: 30vh;
    margin: 50px;
    float: left;
}

.countryText {
    font-size: 40px
}

.temperatureText {
    font-size: 330px;
    font-family: url('/public/assets/fonts/Roboto-Bold.ttf');
    font-weight: 700;

}

.weatherDescription {
    font-size: 40px
}

.moreSection { 
}
 
 
